.navLink {
    /* color: #0a5261; */
    color: #103142;



}

.Circle {
    color: #df8f98;
    /* color: #e1b9ba; */
}

.Geor {
    /* font-family: 'Geologica', sans-serif;
    font-weight: 800; */
    color: #103142;
    /* color: #0a5261; */

}